[submodule "kinect/SensorKinect"]
	path = kinect/SensorKinect
	url = https://github.com/nonameentername/SensorKinect.git
[submodule "kinect/OpenNI"]
	path = kinect/OpenNI
	url = https://github.com/nonameentername/OpenNI.git
[submodule "kinect/NITE"]
	path = kinect/NITE
	url = https://github.com/nonameentername/NITE.git
